<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>掌上食堂</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="css/public.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="content">
    <div class="header ctt">
        <p class="phone"><a href="">联系我们</a></p>
    </div>
    <div class="menu">
        <div class="ctt">
            <img class="logo" src="img/1.png"  alt="logo" width="14%" height="40px">
            <div class="menu_content">
                <ul class="ul_menu">
                    <li class="active"><a href="/index">首页</a></li>
                    <li><a href="">觅食</a></li>
                    <li><a href="">订单</a></li>
                    <li><a href="">账户</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form ctt">
        <div class="form_content">
            <ul class="form_menu" th:if="${user.username}!=null" th:object="${user}">
                <li>尊敬的 <a href="" th:text="${user.username}"></a>用户，想吃点什么呢?</li>
                <li>
                    <ul class="form_menu1">
                        <li><a class="flash" href="javaScript:void (0)">【刷新页面】</a></li>
                    </ul>
                    <ul class="form_menu2">
                        <li ><a href="/index">【退出登录】</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="form_menu" th:if="${user.username}==null">
                <li>尊敬的<a href=""></a>用户，想吃点什么呢?</li>
                <li>
                    <ul class="form_menu1">
                        <li><a href="/index">【刷新页面】</a></li>
                    </ul>
                    <ul class="form_menu2">
                        <li ><a href="/login">【登录】</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner ctt">
        <ul class="banner_ul">
            <li class="active"><img src="img/2.jpg" alt=""></li>
            <li><img src="img/1.png" alt=""></li>
            <li><img src="img/3.png" alt=""></li>
            <li><img src="img/2.jpg" alt=""></li>
        </ul>
        <ul class="banner_ol">
            <li class="active">
                <p>油油鱼</p>
            </li>
            <li>
                <p>油油鱼</p>
            </li>
            <li>
                <p>油油鱼</p>
            </li>
            <li>
                <p>油油鱼</p>
            </li>
        </ul>
        <ul class="banner_on">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="message ctt bgb">
        <div class="span_">
            <img src="img/4.gif" class="title_img" width="215px" height="47px">
            <div class="activity">
                <ul class="act_ul">
                    <li>
                        <p><a href="">xxxxxxxxxxxxxxx</a></p>
                        <span>2019/11/11</span>
                    </li>
                    <li>
                        <p><a href="">xxxxxxxxxxxxxxx</a></p>
                        <span>2019/11/11</span>
                    </li>
                    <li>
                        <p><a href="">xxxxxxxxxxxxxxx</a></p>
                        <span>2019/11/11</span>
                    </li>
                    <li>
                        <p><a href="">xxxxxxxxxxxxxxx</a></p>
                        <span>2019/11/11</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop ctt bgb">
        <div class="span_">
            <img src="img/5.gif">
            <ul class="shop_content">
                <li>
                    <span><img src="img/2.jpg" alt=""></span>
                    <div>
                        <h2>老正香鸡排</h2>
                        <ul>
                            <li><name>地址：</name><value>新食堂一楼</value></li>
                            <li><name>主打菜：</name><value>正香鸡排</value></li>
                            <li><name>平均消费：</name><value>10</value></li>
                            <li><name>最近上新</name><value>正香鸡排</value></li>
                            <li><name>最新评价：</name><value>好吃</value></li>
                            <li><name>近日活动：</name><value>无</value></li>
                        </ul>
                        <span>
                        <h2>周好评度</h2>
                        <h1>78%</h1>
                        </span>
                    </div>
                </li>
                <li>
                    <span><img src="img/2.jpg" alt=""></span>
                    <div>
                        <h2>老正香鸡排</h2>
                        <ul>
                            <li><name>地址：</name><value>新食堂一楼</value></li>
                            <li><name>主打菜：</name><value>正香鸡排</value></li>
                            <li><name>平均消费：</name><value>10</value></li>
                            <li><name>最近上新</name><value>正香鸡排</value></li>
                            <li><name>最新评价：</name><value>好吃</value></li>
                            <li><name>近日活动：</name><value>无</value></li>
                        </ul>
                        <span>
                        <h2>周好评度</h2>
                        <h1>78%</h1>
                        </span>
                    </div>
                </li>
            </ul>
            <p class="more_shop">
                更多店铺>>>
            </p>
        </div>
    </div>
    <div class="end">
        <h1>贵龙科技有限公司</h1>
    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>