<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.mapper.AdminMapper">
    <select id="login" resultMap="login_admin">
        select count(*) from admin where  username = ${username};
    </select>
    <resultMap id="login_admin" type="com.example.app.entity.BaseUser">

    </resultMap>
</mapper>