<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.mapper.UserMapper">
    <select id="hasCol" parameterType="int" resultType="java.lang.Integer">
        select count(*) from where col_id = ${col_id}
    </select>
    <select id="hasUser" resultType="int" parameterType="com.example.app.entity.User">
        select count(*) from user where
        <choose>
            <when test="username!=null">
                username='${username}'
            </when>
            <when test="sno!=null">
                sno=${sno}
            </when>
            <when test="phone!=null">
                phone='${phone}'
            </when>
            <otherwise>
                1=2
            </otherwise>
        </choose>
    </select>
    <select id="login" parameterType="String" resultMap="loginByName">
        SELECT id,username,password,sex,sno,phone,col,keyword,regtime,endtime FROM
        user
    </select>


    <resultMap id="loginByName" type="com.example.app.entity.User">
        <id property="id" column="id" ></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="sex" column="sex"></result>
        <result property="sno" column="sno"></result>
        <result property="phone" column="phone"></result>
        <result property="col_id" column="col_id"></result>
        <result property="keyword" column="keyword"></result>
        <result property="regtime" column="regtime"></result>
        <result property="endtime" column="endtime"></result>
    </resultMap>
    <select id="login1" resultType="com.example.app.entity.User">
        select 1
    </select>
    <insert id="register" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.app.entity.User">
        INSERT INTO user (username, password, sex, sno, phone, col_id, keyword, regtime) VALUES ('${username}', '${password}', ${sex}, '${sno}', '${phone}', ${col_id}, '${phone}', '${regtime}')
    </insert>
</mapper>
